<%= render partial: "shared/breadcrumbs", locals: { crumbs: [
    @campaign, 
    Crumb.new("Characters", campaign_villages_path(@campaign)),
] } %>
<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Characters</h1>
    <%= link_to 'New character', new_campaign_character_path(@campaign), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="characters" class="min-w-full">
    <%= render @characters %>
  </div>
</div>
