<div class="flex">
  <span>»</span>
    <% for crumb in crumbs[..-2] do %>
        <div class="px-1 bg-gray-300 rounded">
            <%= link_to crumb.name, (crumb.respond_to?(:path) ? crumb.path : crumb) %>
        </div>
        <span>/</span>
    <% end %>
    <div class="px-1 bg-gray-300 rounded">
      <%= link_to crumbs[-1].name, (crumbs[-1].respond_to?(:path) ? crumbs[-1].path : crumbs[-1]) %>
    </div>
</div>
