<div id="<%= dom_id village %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= village.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this village", [village.campaign, village], class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this village', edit_campaign_village_path(village.campaign, village), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
